docs/meta trader.json
{
  "name": "meta trader",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4aa2209-0a3e-4f38-b02a-10b13eff0153",
              "name": "symbol",
              "value": "={{ $json.body.symbol }}",
              "type": "string"
            },
            {
              "id": "67a363ec-6051-4410-9db0-ece1e91bfe50",
              "name": "timeframe",
              "value": "={{ $json.body.timeframe }}",
              "type": "string"
            },
            {
              "id": "488c3495-7433-4cfb-af5e-cacb3d899885",
              "name": "entrada_1",
              "value": "={{ $json.body.entrada_1 }}",
              "type": "number"
            },
            {
              "id": "e755f51c-7493-4823-bfa2-ce9399905df1",
              "name": "precio_actual",
              "value": "={{ $json.body.precio_actual }}",
              "type": "number"
            },
            {
              "id": "5d768af2-66ab-499d-bb3e-3f2ccc492ddd",
              "name": "bottoken",
              "value": "=8295898924:AAFgQUPC26H7fyMQu3KsHwvsNym6z9I6EaQ",
              "type": "string"
            },
            {
              "id": "c91842d2-6b9c-4e83-af78-a3f8b4886982",
              "name": "entrada_2",
              "value": "={{ $json.body.entrada_2 }}",
              "type": "number"
            },
            {
              "id": "5814ab64-f57d-4958-a556-458c13f6e27b",
              "name": "entrada_3",
              "value": "={{ $json.body.entrada_3 }}",
              "type": "number"
            },
            {
              "id": "ca291d83-9a86-4573-9db1-2f515fbc9849",
              "name": "stoploss",
              "value": "={{ $json.body.stoploss }}",
              "type": "number"
            },
            {
              "id": "ca4a04e2-e83b-444a-b02b-19aa10182513",
              "name": "hora9",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T09:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "10c3dacc-051e-4599-a139-f203d163d1d1",
              "name": "hora11",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T11:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "0c0d6c21-8996-4721-ad02-5a49866093f3",
              "name": "hora13",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T13:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "f3c8bb09-78cf-421b-83a1-30927bfdf30a",
              "name": "hora15",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T15:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "e8224955-2b72-4227-82f9-2059652dd291",
              "name": "hora19",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T19:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "be36fcc5-6b4c-4dbe-8e8a-43c4c5b0ac45",
              "name": "hora21",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T21:00:00.000-05:00`;   })() }}",
              "type": "string"
            },
            {
              "id": "efad4a89-3e3e-47bb-a76d-0d8f683eddbd",
              "name": "hora23",
              "value": "={{   (() => {     const base = new Date(); const pad = n => String(n).padStart(2, '0');      return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T23:00:00.000-05:00`;   })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        480
      ],
      "id": "c4ea14cd-c6ce-4339-a756-42d4b75aedd6",
      "name": "Edit Fields boom"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8262153278:AAGhj365TTE5b_0R1iK-aG6J3TIUNIF3bTw/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003368431020"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        336
      ],
      "id": "53e1e71a-ff10-420d-b92f-557f8a285d91",
      "name": "Telegram Pablin"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8295898924:AAFgQUPC26H7fyMQu3KsHwvsNym6z9I6EaQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003571366156"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        336
      ],
      "id": "196d0ab3-7299-4a3d-aab0-e8859e9fe5c5",
      "name": "Telegram Esteban"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot7966110626:AAFRRPyecpFmLaSkUqR0FJdWCVx7SFxV-8Q/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003333357090"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        336
      ],
      "id": "981e244f-472b-4a35-84da-dcfe9f36b06b",
      "name": "Telegram Jüergen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e07c9a56-aa87-4b36-9bc1-a8d59dc00850",
              "leftValue": "={{ $json.symbol }}",
              "rightValue": "Boom",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cd6f84b9-b035-40d4-b9a2-e4adb9d8807c",
              "leftValue": "={{ $json.symbol }}",
              "rightValue": "Crash",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        480
      ],
      "id": "1344ec88-43f6-40a9-998d-7ecc2358bc25",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8262153278:AAGhj365TTE5b_0R1iK-aG6J3TIUNIF3bTw/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003461017559"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        608
      ],
      "id": "3501e710-6667-425c-b831-bc4f618560ec",
      "name": "Telegram Pablin1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8295898924:AAFgQUPC26H7fyMQu3KsHwvsNym6z9I6EaQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003622344839"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        608
      ],
      "id": "535e0563-a28b-4851-9c0c-6df525bd31cc",
      "name": "Telegram Esteban1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8262153278:AAGhj365TTE5b_0R1iK-aG6J3TIUNIF3bTw/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003870496605"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        336
      ],
      "id": "7c77e9eb-a1f7-498d-a9e8-61e1042e744d",
      "name": "Telegram Pablin2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "broker",
              "lookupValue": "=deriv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        464
      ],
      "id": "4ddcbb72-312d-4324-b119-bf7a2942796e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "=={{ $('Get row(s) in sheet').item.json.contador }}+1",
            "broker": "deriv"
          },
          "matchingColumns": [
            "broker"
          ],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        336
      ],
      "id": "ce0513f4-e282-4023-ab0b-9b096164a699",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "numberToDelete": 2
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        768
      ],
      "id": "eec20513-f488-44d9-8ecc-929fce2ed7f7",
      "name": "Delete rows or columns from sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8295898924:AAFgQUPC26H7fyMQu3KsHwvsNym6z9I6EaQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003633952853"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        336
      ],
      "id": "204d7260-7587-46f5-bbf8-9cdf1f6c38db",
      "name": "Telegram Esteban2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8531783027:AAE-Ci9KZ2gu3gQ3EoKzbzM_Q4B9rcVhKqE/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003609394301"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        336
      ],
      "id": "57fc3db7-1098-43c9-9a60-3f074ff19841",
      "name": "Telegram Sebas"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos el item de entrada\nconst item = $input.first().json;\n\n// Fecha actual\nconst now = $now;\n\n// Lista de horas objetivo\nconst horas = [\n  $('Edit Fields boom').first().json.hora9,\n  $('Edit Fields boom').first().json.hora11,\n  $('Edit Fields boom').first().json.hora13,\n  $('Edit Fields boom').first().json.hora15,\n  $('Edit Fields boom').first().json.hora19,\n  $('Edit Fields boom').first().json.hora21,\n  $('Edit Fields boom').first().json.hora23,\n]\n  .filter(Boolean)\n  .map(h => new Date(h));\n\n// Rango: ±10 minutos\nconst RANGO_MS = 10 * 60 * 1000;\n\n// Verificar si now está dentro del rango de alguna hora\nconst isInRange = horas.some(hora => {\n  const inicio = new Date(hora.getTime() - RANGO_MS);\n  const fin = new Date(hora.getTime() + RANGO_MS);\n  return now >= inicio && now <= fin;\n});\n\n// Devolver resultado\nreturn [\n  {\n    json: {\n      ...item,\n      isInRange,\n      now\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        464
      ],
      "id": "a9b99b8f-261f-4b94-aaa7-9486ea847c1e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "0",
            "broker": "deriv"
          },
          "matchingColumns": [
            "broker"
          ],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        464
      ],
      "id": "93a8cd60-8163-4f80-bc22-d5628b9e601e",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "0",
            "fecha": "={{\n  (() => {\n    const d = new Date(new Date($today).getTime() + 86400000);\n    const pad = n => String(n).padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T00:00:00.000-05:00`;\n  })()\n}}",
            "created_at": "={{ $now }}",
            "broker": "deriv"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        768
      ],
      "id": "35f0a7d1-2a9b-4620-a1a6-d2d43c2c26bb",
      "name": "actualizar deriv",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "0",
            "fecha": "={{\n  (() => {\n    const d = new Date(new Date($today).getTime() + 86400000);\n    const pad = n => String(n).padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}T00:00:00.000-05:00`;\n  })()\n}}",
            "created_at": "={{ $now }}",
            "broker": "weltrade"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        848
      ],
      "id": "a3350204-783c-4694-b06d-eb9459f8282b",
      "name": "actualizar weltrade",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n$json.isInRange == true && $json.contador == 0 ? 0 :\n$json.isInRange == false && $json.contador >= 1 ? 1 : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1344,
        448
      ],
      "id": "89e7f424-f042-4398-845e-ae9171fdecd4",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "broker",
              "lookupValue": "=weltrade"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        752
      ],
      "id": "bb319456-edce-4579-ba62-fb6f5a82e850",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tomamos el item de entrada\nconst item = $input.first().json;\n\n// Fecha actual\nconst now = new Date($now);\n\n// Lista de horas objetivo\nconst horas = [\n  $('Edit Fields boom').first().json.hora9,\n  $('Edit Fields boom').first().json.hora11,\n  $('Edit Fields boom').first().json.hora13,\n  $('Edit Fields boom').first().json.hora15,\n  $('Edit Fields boom').first().json.hora19,\n  $('Edit Fields boom').first().json.hora21,\n  $('Edit Fields boom').first().json.hora23,\n]\n  .filter(Boolean)\n  .map(h => new Date(h));\n\n// Rango: ±10 minutos\nconst RANGO_MS = 10 * 60 * 1000;\n\n// Verificar si now está dentro del rango de alguna hora\nconst isInRange = horas.some(hora => {\n  const inicio = new Date(hora.getTime() - RANGO_MS);\n  const fin = new Date(hora.getTime() + RANGO_MS);\n  return now >= inicio && now <= fin;\n});\n\n// Devolver resultado\nreturn [\n  {\n    json: {\n      ...item,\n      isInRange\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        752
      ],
      "id": "852bf4c1-a408-4dd1-8664-db0fea3f841c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n$json.isInRange == true && $json.contador == 0 ? 0 :\n$json.isInRange == false && $json.contador >= 1 ? 1 : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1568,
        736
      ],
      "id": "b3c924ae-f044-496e-b577-01fcc2346359",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8262153278:AAGhj365TTE5b_0R1iK-aG6J3TIUNIF3bTw/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003435034378"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        608
      ],
      "id": "7ea8daf6-9819-459b-9208-7d80b2fda90f",
      "name": "Telegram Pablin3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8295898924:AAFgQUPC26H7fyMQu3KsHwvsNym6z9I6EaQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003742317642"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        608
      ],
      "id": "c9b9f7bc-982f-460f-bfc7-55b25edbfb1d",
      "name": "Telegram Esteban3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "0",
            "broker": "weltrade"
          },
          "matchingColumns": [
            "broker"
          ],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        752
      ],
      "id": "c56b7380-c62b-49c5-9b27-038ed213ea8f",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM",
          "mode": "list",
          "cachedResultName": "señales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "hoja1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FmnoDdJQHCNVY6TaQzG0s4uQBp7lkaa2lTvl95P70kM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "=={{ $('Get row(s) in sheet1').item.json.contador }}+1",
            "broker": "weltrade"
          },
          "matchingColumns": [
            "broker"
          ],
          "schema": [
            {
              "id": "broker",
              "displayName": "broker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        608
      ],
      "id": "bd5b3694-4e25-4ef5-bc8f-ba51592674c7",
      "name": "Update row in sheet3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6WEu40HQCLCgukVJ",
          "name": "Google Sheets Pablin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8531783027:AAE-Ci9KZ2gu3gQ3EoKzbzM_Q4B9rcVhKqE/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003783113841"
            },
            {
              "name": "text",
              "value": "=📊 Activo: {{ $('Edit Fields boom').item.json.symbol }}\n⏱ Temporalidad: {{ $('Edit Fields boom').item.json.timeframe }}\n\n📍 Precio actual: {{ $('Edit Fields boom').item.json.precio_actual }}\n\n🎯 Entrada 1: {{ $('Edit Fields boom').item.json.entrada_1 }}\n🎯 Entrada 2: {{ $('Edit Fields boom').item.json.entrada_2 }}\n🎯 Entrada 3: {{ $('Edit Fields boom').item.json.entrada_3 }}\n🛑 Stop loss: {{ $('Edit Fields boom').item.json.stoploss }}\nRatio Riesgo/Beneficio: 1:05; 1:1; 1;2; 1:3. 💰\n\n⚠️ Considerar el precio de entrada desde que se envía esta señal."
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        336
      ],
      "id": "5f9572a2-4d1a-4037-829e-2593999b90de",
      "name": "Telegram Sebas1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "afiliados-payment-verifier",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        688,
        624
      ],
      "id": "e8713c41-9eca-48e7-a3ee-428921a85a97",
      "name": "afiliados",
      "webhookId": "9d15ba5f-d55d-45fe-8ee0-36e36e37f8a2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analiza este comprobante de pago bancario.\n\nTu tarea es EXTRAER datos visibles de la imagen. No valides contra datos externos.\n\n----------------------------------------\n\n1. Extrae del comprobante, si existe:\n\n- numero de comprobante / transacción\n- monto transferido\n- banco del comprobante\n- fecha de la transferencia\n- beneficiario: persona o empresa que RECIBE el dinero. Normalmente aparece después de \"A\", \"Para\", \"Beneficiario\", \"Cuenta destino\" o similar.\n- remitente: persona que ENVÍA el dinero. Normalmente aparece después de \"De\", \"Origen\", \"Ordenante\" o similar.\n- cuenta_destino_ultimos4: últimos 4 dígitos visibles de la cuenta destino / cuenta beneficiaria\n- cuenta_origen_ultimos4: últimos 4 dígitos visibles de la cuenta origen, si existe\n\nIMPORTANTE:\n- No confundas remitente con beneficiario.\n- Si el comprobante dice \"A Esteban Trader Academy...\" ese es el beneficiario.\n- Si el comprobante dice \"De Huacanes...\" ese es el remitente.\n- Si la cuenta está censurada como *** *** 2993, devuelve \"2993\".\n- Si un dato no es visible, devuelve null.\n- No inventes datos.\n- No hagas validaciones contra webhook, base de datos ni datos externos.\n- Solo analiza lo que ves en la imagen.\n\n----------------------------------------\n\n2. Evalúa la calidad de la imagen:\n\n- es legible?\n- está borrosa?\n- parece editada o manipulada?\n- parece un comprobante real o fake?\n\n----------------------------------------\nRegla para \"confianza\":\n- La confianza mide qué tan seguro estás de la extracción de datos visibles.\n- No es una validación antifraude.\n- Si la imagen es legible, no está borrosa, no parece editada y logras extraer comprobante, monto, banco, fecha, beneficiario y cuenta destino, la confianza debe ser entre 80 y 95.\n- Usa 60 a 79 si hay algún dato parcialmente cortado o dudoso.\n- Usa menos de 60 solo si la imagen es difícil de leer o faltan datos importantes.\n- Nunca devuelvas 0 si ya pudiste extraer correctamente los datos principales.\n\nDevuelve SOLO JSON válido, sin markdown, sin explicación:\n\n{\n  \"comprobante\": \"string|null\",\n  \"monto\": number|null,\n  \"banco\": \"string|null\",\n  \"fecha\": \"YYYY-MM-DD|null\",\n\n  \"beneficiario\": \"string|null\",\n  \"remitente\": \"string|null\",\n  \"cuenta_destino_ultimos4\": \"string|null\",\n  \"cuenta_origen_ultimos4\": \"string|null\",\n\n  \"legible\": true,\n  \"borroso\": false,\n  \"editado\": false,\n  \"realista\": true,\n\n  \"confianza\": 85\n}",
        "imageUrls": "={{ $json.body.receipt_public_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        800,
        624
      ],
      "id": "b926e3e7-d719-4623-9be0-fe4e2322a786",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "dBPlamBZ6NHPVTxU",
          "name": "OpenAi Pablin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================\n// 🔹 1. OBTENER RESPUESTA OPENAI\n// ==========================\nconst input = $input.first().json;\n\nlet raw =\n  input?.['0']?.content?.[0]?.text ||\n  input?.content?.[0]?.text ||\n  input?.message?.content ||\n  input?.text ||\n  \"\";\n\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ==========================\n// 🔹 2. PARSEAR JSON\n// ==========================\nlet parsed;\nlet jsonValido = true;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {};\n  jsonValido = false;\n}\n\n// ==========================\n// 🔹 3. FUNCIONES ÚTILES\n// ==========================\nconst normalize = (str) => {\n  if (str === null || str === undefined) return \"\";\n  return String(str)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n};\n\nconst onlyDigits = (v) => String(v ?? \"\").replace(/\\D/g, \"\");\n\nconst parseAmount = (v) => {\n  if (v === null || v === undefined || v === \"\") return null;\n  if (typeof v === \"number\") return v;\n\n  const cleaned = String(v)\n    .replace(/[$\\s]/g, \"\")\n    .replace(\",\", \".\");\n\n  const n = Number(cleaned);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst cleanBank = (str) =>\n  normalize(str)\n    .replace(/\\b(banco|cuenta|corriente|ahorro|ahorros|cta|cc)\\b/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst splitWords = (str) =>\n  normalize(str)\n    .split(/\\s+/)\n    .filter((w) => w.length >= 2);\n\nconst tokenRatio = (a, b) => {\n  const aw = [...new Set(splitWords(a))];\n  const bw = [...new Set(splitWords(b))];\n\n  if (!aw.length || !bw.length) return 0;\n\n  let matches = 0;\n\n  for (const w of bw) {\n    const found = aw.some((o) => {\n      if (o === w) return true;\n\n      if (o.length >= 4 && w.length >= 4) {\n        return o.includes(w.slice(0, 4)) || w.includes(o.slice(0, 4));\n      }\n\n      return false;\n    });\n\n    if (found) matches++;\n  }\n\n  return matches / bw.length;\n};\n\nconst safeDateOnly = (f) => {\n  if (!f) return null;\n\n  const s = String(f).trim();\n  let d;\n\n  const m = s.match(/^(\\d{4})-(\\d{2})-(\\d{2})/);\n\n  if (m) {\n    d = new Date(Number(m[1]), Number(m[2]) - 1, Number(m[3]));\n  } else {\n    d = new Date(s);\n  }\n\n  if (Number.isNaN(d.getTime())) return null;\n\n  return new Date(d.getFullYear(), d.getMonth(), d.getDate());\n};\n\nconst webhookVal = (obj, paths, fallback = \"\") => {\n  for (const path of paths) {\n    const value = path.split(\".\").reduce((acc, key) => acc?.[key], obj);\n\n    if (value !== undefined && value !== null && value !== \"\") {\n      return value;\n    }\n  }\n\n  return fallback;\n};\n\n// ==========================\n// 🔹 4. DATOS OCR / IA\n// ==========================\nconst comprobanteOCR = onlyDigits(parsed.comprobante) || null;\nconst montoOCR = parseAmount(parsed.monto);\n\nconst bancoOCR = normalize(parsed.banco);\nconst bancoOCRClean = cleanBank(parsed.banco);\n\nconst fechaOCR = parsed.fecha || null;\n\nconst beneficiarioOCR = normalize(parsed.beneficiario || parsed.titular || \"\");\nconst remitenteOCR = normalize(parsed.remitente || \"\");\n\nconst cuentaDestinoOCR = onlyDigits(\n  parsed.cuenta_destino_ultimos4 ||\n  parsed.cuenta_destino ||\n  \"\"\n);\n\nconst cuentaOrigenOCR = onlyDigits(\n  parsed.cuenta_origen_ultimos4 ||\n  parsed.cuenta_origen ||\n  \"\"\n);\n\n// ==========================\n// 🔹 5. DATOS WEBHOOK REAL\n// ==========================\nconst webhook = $(\"afiliados\").first().json.body;\n\nconst comprobanteWebhook = onlyDigits(\n  webhookVal(webhook, [\"payment_number\", \"numcomprobante\"])\n);\n\nconst montoWebhook = parseAmount(\n  webhookVal(webhook, [\"amount\", \"valor\"])\n);\n\nconst bancoWebhookRaw = webhookVal(webhook, [\n  \"bank.name\",\n  \"banco.nombre\",\n  \"banco_nombre\"\n]);\n\nconst bancoWebhook = normalize(bancoWebhookRaw);\nconst bancoWebhookClean = cleanBank(bancoWebhookRaw);\n\nconst titularWebhookRaw = webhookVal(webhook, [\n  \"bank.owner\",\n  \"banco.propietario\"\n]);\n\nconst titularWebhook = normalize(titularWebhookRaw);\n\nconst cuentaWebhook = onlyDigits(\n  webhookVal(webhook, [\"bank.number\", \"banco.numero\"])\n);\n\nconst fechaWebhook = webhook.created_at;\n\n// ==========================\n// 🔹 6. VALIDACIONES\n// ==========================\nlet erroresCriticos = [];\nlet advertencias = [];\nlet validaciones = {};\n\nif (!jsonValido) {\n  erroresCriticos.push(\"Respuesta IA no es JSON válido\");\n}\n\n// ==========================\n// ✔ COMPROBANTE\n// ==========================\n// OJO: este ya NO rechaza automáticamente si no coincide.\n// Muchas veces el usuario escribe mal el número, pero la imagen sí es válida.\nvalidaciones.comprobante = {\n  ocr: comprobanteOCR,\n  webhook: comprobanteWebhook,\n  ok: Boolean(\n    comprobanteOCR &&\n    comprobanteWebhook &&\n    comprobanteOCR === comprobanteWebhook\n  )\n};\n\nif (!comprobanteOCR) {\n  advertencias.push(\"Comprobante no detectado\");\n} else if (!validaciones.comprobante.ok) {\n  advertencias.push(\"Comprobante no coincide con el número escrito por el usuario\");\n}\n\nif (comprobanteOCR && /^(\\d)\\1+$/.test(comprobanteOCR)) {\n  erroresCriticos.push(\"Comprobante sospechoso\");\n}\n\n// ==========================\n// ✔ MONTO\n// ==========================\nvalidaciones.monto = {\n  ocr: montoOCR,\n  webhook: montoWebhook,\n  ok:\n    montoOCR !== null &&\n    montoWebhook !== null &&\n    Math.abs(montoOCR - montoWebhook) <= 0.01\n};\n\nif (!validaciones.monto.ok) {\n  erroresCriticos.push(\"Monto no coincide\");\n}\n\n// ==========================\n// ✔ BANCO\n// ==========================\nconst bankRatio = Math.max(\n  tokenRatio(bancoOCRClean, bancoWebhookClean),\n  tokenRatio(bancoWebhookClean, bancoOCRClean)\n);\n\nconst bancoOk = Boolean(\n  bancoOCRClean &&\n  bancoWebhookClean &&\n  (\n    bancoOCRClean.includes(bancoWebhookClean) ||\n    bancoWebhookClean.includes(bancoOCRClean) ||\n    bankRatio >= 0.5\n  )\n);\n\nvalidaciones.banco = {\n  ocr: bancoOCR,\n  webhook: bancoWebhook,\n  ocr_limpio: bancoOCRClean,\n  webhook_limpio: bancoWebhookClean,\n  ratio: Math.round(bankRatio * 100),\n  ok: bancoOk\n};\n\nif (!bancoOk) {\n  erroresCriticos.push(\"Banco no coincide\");\n}\n\n// ==========================\n// ✔ BENEFICIARIO / CUENTA DESTINO\n// ==========================\nconst cuentaWebhookUltimos4 = cuentaWebhook.slice(-4);\nconst cuentaDestinoUltimos4 = cuentaDestinoOCR.slice(-4);\n\nconst cuentaOk = Boolean(\n  cuentaDestinoUltimos4 &&\n  cuentaWebhookUltimos4 &&\n  cuentaWebhook.endsWith(cuentaDestinoUltimos4)\n);\n\nconst beneficiarioRatio = Math.max(\n  tokenRatio(beneficiarioOCR, titularWebhook),\n  tokenRatio(titularWebhook, beneficiarioOCR)\n);\n\nconst beneficiarioOk = Boolean(\n  beneficiarioOCR &&\n  (\n    beneficiarioOCR.includes(titularWebhook) ||\n    titularWebhook.includes(beneficiarioOCR) ||\n    beneficiarioRatio >= 0.45 ||\n    (beneficiarioOCR.includes(\"aet\") && titularWebhook.includes(\"aet\")) ||\n    beneficiarioOCR.includes(\"esteban trader academy\")\n  )\n);\n\nvalidaciones.beneficiario = {\n  beneficiario_ocr: beneficiarioOCR,\n  remitente_ocr: remitenteOCR,\n  titular_webhook: titularWebhook,\n  cuenta_destino_ocr: cuentaDestinoUltimos4 || null,\n  cuenta_webhook_ultimos4: cuentaWebhookUltimos4 || null,\n  cuenta_ok: cuentaOk,\n  beneficiario_ok: beneficiarioOk,\n  ratio: Math.round(beneficiarioRatio * 100),\n  ok: cuentaOk || beneficiarioOk\n};\n\nif (!validaciones.beneficiario.ok) {\n  erroresCriticos.push(\"Beneficiario / cuenta destino no coincide\");\n}\n\n// ==========================\n// ✔ FECHA INTELIGENTE\n// ==========================\nconst fOCR = safeDateOnly(fechaOCR);\nconst fWEB = safeDateOnly(fechaWebhook);\n\nlet diffDias = null;\nlet fechaOk = false;\n\nif (fOCR && fWEB) {\n  diffDias = Math.abs((fWEB - fOCR) / (1000 * 60 * 60 * 24));\n\n  const isWeekend = (date) => {\n    const day = date.getDay();\n    return day === 0 || day === 6;\n  };\n\n  const maxDias = isWeekend(fOCR) || isWeekend(fWEB) ? 3 : 2;\n\n  fechaOk = diffDias <= maxDias;\n\n  if (!fechaOk) {\n    erroresCriticos.push(`Fecha fuera de rango (${diffDias} días)`);\n  }\n} else {\n  advertencias.push(\"Fecha no detectada o inválida\");\n}\n\nvalidaciones.fecha = {\n  ocr: fechaOCR,\n  webhook: fechaWebhook,\n  diff_dias: diffDias,\n  ok: fechaOk\n};\n\n// ==========================\n// 🚨 ANTIFRAUDE\n// ==========================\nif (parsed.legible === false) {\n  erroresCriticos.push(\"Imagen no legible\");\n}\n\nif (parsed.borroso === true) {\n  erroresCriticos.push(\"Imagen borrosa\");\n}\n\nif (parsed.editado === true) {\n  erroresCriticos.push(\"Posible edición\");\n}\n\nif (parsed.realista === false) {\n  erroresCriticos.push(\"No parece real\");\n}\n\nconst confianza = Number(parsed.confianza ?? 0);\n\nif (parsed.confianza !== undefined && confianza < 65) {\n  erroresCriticos.push(\"Baja confianza IA\");\n} else if (parsed.confianza !== undefined && confianza < 75) {\n  advertencias.push(\"Confianza IA media\");\n}\n\n// ==========================\n// 🧠 SCORE\n// ==========================\nlet score = 100;\n\nif (parsed.borroso) score -= 20;\nif (parsed.editado) score -= 40;\nif (parsed.realista === false) score -= 40;\nif (parsed.legible === false) score -= 30;\nif (parsed.confianza !== undefined && confianza < 75) score -= 10;\n\nscore = Math.max(0, score);\n\nif (score < 60) {\n  erroresCriticos.push(\"Score antifraude bajo\");\n}\n\n// ==========================\n// 🧾 RESULTADO FINAL\n// ==========================\nconst aprobado = erroresCriticos.length === 0;\n\nreturn [\n  {\n    json: {\n      aprobado,\n\n      decision: aprobado ? \"aprobado\" : \"rechazado\",\n\n      errores: erroresCriticos.join(\", \"),\n      advertencias: advertencias.join(\", \"),\n\n      score,\n\n      data_extraida: {\n        comprobante: comprobanteOCR,\n        comprobanteWebhook,\n\n        monto: montoOCR,\n        montoWebhook,\n\n        banco: bancoOCR,\n        bancoWebhook,\n\n        fecha: fechaOCR,\n        fechaWebhook,\n\n        beneficiario: beneficiarioOCR,\n        remitente: remitenteOCR,\n\n        cuenta_destino_ultimos4: cuentaDestinoUltimos4 || null,\n        cuenta_origen_ultimos4: cuentaOrigenOCR.slice(-4) || null,\n        cuentaWebhookUltimos4: cuentaWebhookUltimos4 || null,\n\n        titularWebhook\n      },\n\n      validaciones,\n\n      payment_id: webhook.payment_id,\n      approve_url: webhook.approve_url,\n      reject_url: webhook.reject_url,\n\n      raw\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        624
      ],
      "id": "26ffd176-58cb-4e05-b0bb-30c7729939e3",
      "name": "Parsear"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.aprobado }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "62746053-f510-4da7-8be8-8be67d44368d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aprobado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c769c3a0-8777-498e-b05b-b29a2de83645",
                    "leftValue": "={{ $json.aprobado }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rechazado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        624
      ],
      "id": "80c0ce74-10ce-4b96-a4c0-d8ee7da73a82",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parsear').item.json.approve_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        592
      ],
      "id": "340d2549-3225-494a-9406-cc3312a001fa",
      "name": "Aprobar recarga"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.reject_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        720
      ],
      "id": "044edd34-409b-4d03-8d11-4525475924b8",
      "name": "Rechazar recarga"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.abigailsoft.com/message/sendText/AET-SAS",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "=DAF579E359CA-43AA-959F-16EE1ED51F7A"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=593986248511"
            },
            {
              "name": "text",
              "value": "={{ $json.message_es }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        624
      ],
      "id": "ba6c154f-fe68-4fe7-ad98-ee15929e09d8",
      "name": "Enviar mensaje"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensaje-aet",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        752
      ],
      "id": "2f6ad3ea-db2d-4bbb-bb37-98cc75f738cf",
      "name": "WhatsApp",
      "webhookId": "caf9c897-bdfa-46fe-ad3a-40ffc8c8da12",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a53db60e-c173-4467-a811-f13b7e7192ea",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        688,
        480
      ],
      "id": "7002bbcb-0eca-4bf5-a1ae-d1a7885cc78d",
      "name": "Meta Trader",
      "webhookId": "a53db60e-c173-4467-a811-f13b7e7192ea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.abigailsoft.com/message/sendText/AET-SAS",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "=DAF579E359CA-43AA-959F-16EE1ED51F7A"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body.message_es }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        480
      ],
      "id": "5e8fe3d5-1dfd-42f5-badf-84b4be451a7b",
      "name": "Enviar mensaje1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        768
      ],
      "id": "20f94343-790c-4a5a-8f24-f765fe7eaf7d",
      "name": "23h30"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aettraderacademy.es/public/api/admin/financial-stats/register-yesterday",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        912
      ],
      "id": "9415dd1f-7a2b-4495-9021-9ea627e592ae",
      "name": "estadísticas"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        352
      ],
      "id": "c6295c10-d55a-4ee3-a934-a432782047f0",
      "name": "sunday"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aettraderacademy.es/public/api/admin/memberships/recalculate-tiers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        352
      ],
      "id": "64b154e3-fd7d-4947-8db2-4588831ed51f",
      "name": "membresías"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aettraderacademy.es/public/api/admin/users/prune-inactive",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        352
      ],
      "id": "4be76722-4a19-41cf-b254-daa1dc700a4c",
      "name": "Eliminar usuarios"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        912
      ],
      "id": "10134c64-1596-4a35-960f-877aaf27e066",
      "name": "9h00"
    },
    {
      "parameters": {
        "url": "https://aettraderacademy.es/public/api/admin/memberships/expired-today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "daf8552685a90958ceac821ad10385afd5f3dc77250ea4de916a2b0167fd9d11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        912
      ],
      "id": "d1a93fc7-89ec-48be-adfb-283ee798ea46",
      "name": "recordatorio"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        912
      ],
      "id": "22d24a2f-ea05-473c-936b-203c2daeb81b",
      "name": "Wait",
      "webhookId": "21354ab5-32e3-45af-9964-6abe0aca8cd2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        912
      ],
      "id": "c87ef305-f8de-4b38-937b-914c0805436b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        912
      ],
      "id": "40981252-a994-4838-9eb5-ed7f4fd0a6cf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// rango en segundos\nconst min = 20;\nconst max = 90; // puedes subir a 120 o más\n\nconst delay = Math.floor(Math.random() * (max - min + 1)) + min;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      delay\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        912
      ],
      "id": "0a8b7abb-e5e9-4886-8fd3-2ec38b907a6f",
      "name": "delay"
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\nconst phoneRaw = String(item.phone ?? \"\").trim();\nconst number = phoneRaw.replace(/\\D/g, \"\"); // Evo API normalmente sin +\n\nif (!number) {\nreturn []; // omite items sin telefono valido\n}\n\nconst firstName = String(item.name ?? \"cliente\")\n.trim()\n.split(/\\s+/)[0];\n\nconst membershipType = String(item.membership?.type ?? \"membresia\");\nconst expiredDate = String(item.membership?.expired_date ?? \"\");\nconst reminderText = String(item.reminder?.message_es ?? \"Tu membresia vencio hoy. Por favor reactiva.\");\n\nconst text =\n\"Hola \" + firstName + \" 👋\\n\\n\" +\nreminderText + \"\\n\" +\n(expiredDate ? (\"\\nFecha de vencimiento: \" + expiredDate) : \"\") +\n\"\\nTipo: \" + membershipType;\n\nreturn [\n  {\n    json: {\n      ...item,\n      number,\n      text,\n      otro: \"hola\",\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        912
      ],
      "id": "0e29b2dd-28d5-4fa0-b691-4dab9e0282ec",
      "name": "get info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.abigailsoft.com/message/sendText/AET-SAS",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "=DAF579E359CA-43AA-959F-16EE1ED51F7A"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        912
      ],
      "id": "904c01e8-a45f-4f18-a071-fca8f1976768",
      "name": "send"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "noti-whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        480
      ],
      "id": "937cb04d-0a10-4863-b0e5-a803dce3226a",
      "name": "Notificación",
      "webhookId": "c5bf4d76-a4a1-4225-900c-5925dfb7b631"
    }
  ],
  "pinData": {
    "Meta Trader": [
      {
        "json": {
          "headers": {
            "host": "autobot.aaronsoft.es",
            "user-agent": "MetaTrader 5 Terminal/5.5572 (Windows NT 11.0.26200; x64)",
            "content-length": "208",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "accept-language": "es,en;q=0.5",
            "content-type": "application/json",
            "x-forwarded-for": "157.100.120.22",
            "x-forwarded-host": "autobot.aaronsoft.es",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "vps-82a11f08",
            "x-real-ip": "157.100.120.22"
          },
          "params": {},
          "query": {},
          "body": {
            "symbol": "PainX 800",
            "timeframe": "M5",
            "precio_actual": 116381.82,
            "entrada_1": 116386.73,
            "entrada_2": 116395.93,
            "entrada_3": 116399.8,
            "stoploss": 116407.54,
            "bottoken": "34030887",
            "timestamp": "2026.02.13 22:03:08"
          },
          "webhookUrl": "https://autobot.aaronsoft.es/webhook/a53db60e-c173-4467-a811-f13b7e7192ea",
          "executionMode": "production"
        }
      }
    ],
    "Notificación": [
      {
        "json": {
          "headers": {
            "host": "autobot.aaronsoft.es",
            "user-agent": "GuzzleHttp/7",
            "content-length": "2420",
            "accept": "application/json",
            "content-type": "application/json",
            "x-forwarded-for": "82.29.157.199",
            "x-forwarded-host": "autobot.aaronsoft.es",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "vps-82a11f08",
            "x-real-ip": "82.29.157.199",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "tipo": "bienvenida",
            "event": "user.welcome",
            "user_id": 58,
            "name": "Pablo Jiménez",
            "email": "pdjimeneze@utn.edu.ec",
            "phone": "+593961778319",
            "phone_raw": "+593961778319",
            "usuario": {
              "nombre": "Pablo Jiménez",
              "telefono": "+593961778319"
            },
            "mensaje": "¡Bienvenido/a Pablo Jiménez a AET Trader Academy! 👨🏻‍💻\n\nDesde este momento estaré acompañándote en tu proceso dentro del sistema.\nSoy Donna - asistente de AET Trader Academy.\n\nSi ya estás usando la versión gratuita, el siguiente paso es simple:\nentra ahora a nuestro canal de Telegram.\n\nhttps://t.me/aetsas\n\nAhí vas a encontrar los enlaces gratuitos y todo el contenido para que empieces correctamente.\n\nAdemás, te recomendamos crearte tu cuenta a través de los enlaces que tienes en la página principal de AET, para que puedas operar y aprovechar correctamente todas las herramientas.\n\nAhora, si realmente quieres resultados y no solo mirar, el plan premium de $147 te desbloquea todo:\nescáner, señales y clases en vivo.\n\nNo te quedes a medias. Avanza.\n\nTe recomiendo analizar en\nhttps://tradingview.deriv.com/\n\nY trabajar con cuentas standar mt5 que podrás aperturar dentro de los links de nuestros brokers asociados.",
            "message_es": "¡Bienvenido/a Pablo Jiménez a AET Trader Academy! 👨🏻‍💻\n\nDesde este momento estaré acompañándote en tu proceso dentro del sistema.\nSoy Donna - asistente de AET Trader Academy.\n\nSi ya estás usando la versión gratuita, el siguiente paso es simple:\nentra ahora a nuestro canal de Telegram.\n\nhttps://t.me/aetsas\n\nAhí vas a encontrar los enlaces gratuitos y todo el contenido para que empieces correctamente.\n\nAdemás, te recomendamos crearte tu cuenta a través de los enlaces que tienes en la página principal de AET, para que puedas operar y aprovechar correctamente todas las herramientas.\n\nAhora, si realmente quieres resultados y no solo mirar, el plan premium de $147 te desbloquea todo:\nescáner, señales y clases en vivo.\n\nNo te quedes a medias. Avanza.\n\nTe recomiendo analizar en\nhttps://tradingview.deriv.com/\n\nY trabajar con cuentas standar mt5 que podrás aperturar dentro de los links de nuestros brokers asociados.",
            "created_at": "2026-04-16T19:47:12+00:00"
          },
          "webhookUrl": "https://autobot.aaronsoft.es/webhook/noti-whatsapp",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "afiliados": [
      {
        "json": {
          "headers": {
            "host": "autobot.aaronsoft.es",
            "user-agent": "GuzzleHttp/7",
            "content-length": "1717",
            "accept": "application/json",
            "content-type": "application/json",
            "x-forwarded-for": "82.29.157.199",
            "x-forwarded-host": "autobot.aaronsoft.es",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "vps-82a11f08",
            "x-real-ip": "82.29.157.199",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "payment.pending",
            "payment_id": 27,
            "user_id": 78,
            "bank_id": 2,
            "payment_number": "69624287",
            "amount": 197,
            "created_at": "2026-05-07T03:07:49+00:00",
            "trace_id": "payment-27-20260507-030749",
            "bank": {
              "id": 2,
              "name": "Banco Pichincha - Cuenta Corriente",
              "owner": "AET SAS",
              "identification": "1091796347001",
              "number": "2100262993",
              "detail": ""
            },
            "payment_url": "https://aettraderacademy.es/public/api/admin/payments/pending/27",
            "receipt_url": "https://aettraderacademy.es/public/api/admin/payments/pending/27/receipt",
            "receipt_public_url": "https://aettraderacademy.es/public/api/public/payments/27/receipt?expires=1778144869&signature=84f0fb84e189daeb876c6eea560c0fe1ce02148a7f3839c92e796548122bc942",
            "approve_url": "https://aettraderacademy.es/public/api/admin/payments/pending/27/approve",
            "reject_url": "https://aettraderacademy.es/public/api/admin/payments/pending/27/reject",
            "banco_nombre": "Banco Pichincha - Cuenta Corriente",
            "numcomprobante": "69624287",
            "valor": 197,
            "recarga_url": "https://aettraderacademy.es/public/api/admin/payments/pending/27",
            "foto_url": "https://aettraderacademy.es/public/api/public/payments/27/receipt?expires=1778144869&signature=84f0fb84e189daeb876c6eea560c0fe1ce02148a7f3839c92e796548122bc942",
            "approve_legacy_url": "https://aettraderacademy.es/public/api/admin/v2/payments/n8n/recargas/27/aprobar",
            "reject_legacy_url": "https://aettraderacademy.es/public/api/admin/v2/payments/n8n/recargas/27/rechazar",
            "banco": {
              "id": 2,
              "nombre": "Banco Pichincha - Cuenta Corriente",
              "propietario": "AET SAS",
              "cedula": "1091796347001",
              "numero": "2100262993",
              "tipo": "",
              "detalle": "",
              "foto": null,
              "monto": null,
              "created_at": null,
              "updated_at": null
            }
          },
          "webhookUrl": "https://autobot.aaronsoft.es/webhook/afiliados-payment-verifier",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Edit Fields boom": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Esteban": {
      "main": [
        [
          {
            "node": "Telegram Pablin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Pablin": {
      "main": [
        [
          {
            "node": "Telegram Sebas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Pablin2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Esteban3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Pablin1": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Esteban1": {
      "main": [
        [
          {
            "node": "Telegram Pablin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Pablin2": {
      "main": [
        [
          {
            "node": "Telegram Esteban2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Jüergen": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Sebas": {
      "main": [
        [
          {
            "node": "Telegram Jüergen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "actualizar deriv",
            "type": "main",
            "index": 0
          },
          {
            "node": "actualizar weltrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram Esteban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Esteban3": {
      "main": [
        [
          {
            "node": "Telegram Pablin3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Telegram Esteban1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Pablin3": {
      "main": [
        []
      ]
    },
    "Telegram Esteban2": {
      "main": [
        [
          {
            "node": "Telegram Sebas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "afiliados": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Parsear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Aprobar recarga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar recarga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazar recarga": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobar recarga": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Trader": {
      "main": [
        [
          {
            "node": "Edit Fields boom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje": {
      "main": [
        []
      ]
    },
    "23h30": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sunday": {
      "main": [
        [
          {
            "node": "membresías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "membresías": {
      "main": [
        [
          {
            "node": "Eliminar usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9h00": {
      "main": [
        [
          {
            "node": "estadísticas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "estadísticas": {
      "main": [
        [
          {
            "node": "recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "get info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordatorio": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get info": {
      "main": [
        [
          {
            "node": "send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send": {
      "main": [
        [
          {
            "node": "delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificación": {
      "main": [
        [
          {
            "node": "Enviar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Guayaquil",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7f39113f-cfbe-46bc-a796-94dcefc566d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a4787fedcd3a9fda6d63f2231359e551e48f7e0d6a6b433946467fe82f7e7a4"
  },
  "id": "GSR87oOQ7sun3nq1",
  "tags": []
}